@using Client.Utils
@inherits PageLayoutComponentBase

<PageTitle>BlazorApp1</PageTitle>

<Header />

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <Sidebar />
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                @Body
            </div>
        </main>
    </div>
</div>

<ModalContainer />