@using Client.Utils
@inherits PageComponentBase

<div>
    <CascadingValue Value=this>
        @foreach (var item in renderFragments)
        {
            @item.ModalFragment
        }
    </CascadingValue>
</div>