@page "/Materials"
@using Client.Utils
@using Common.Helpers.RazorComponent
@using Common.Helpers.RazorComponent.CommonControls
@using Domain.Models

@inherits PageComponentBase

<div class="row mt-3">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header">Mat.</div>
            <div class="card-body">
                <DataTable TItem="Material" Datas="Materials">
                    <DataTableLinkColumn TItem="Material" Field="m=>m.Link" TextLinkLambda="m=>m.Reference" Name=Référence /> 
                    <DataTableBoolColumn TItem="Material" Field="m=>m.IsCommercial" Name=Commercialisé /> 
                    <DataTableMonetaryColumn TItem="Material" Field="m=>m.Cost" Name=Coût /> 
                    <DataTableTextColumn TItem="Material" Field="m=>m.Comment" Name=Commentaire /> 
                    <DataTableTextColumn TItem="Material" Field="m=>m.Type" Name=Type /> 
                </DataTable>
            </div>
        </div>
    </div>
</div>