@typeparam TItem
@namespace Common.Helpers.RazorComponent.CommonControls

<div class="table-responsive">
    <CascadingValue Value="this">
        @ChildContent
        <table class="table" id="@Id">
            <thead>
                <tr>
                    @foreach (var item in Columns)
                    {
                        <th>@item.Name</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Datas)
                {
                    <tr>
                        @foreach (var column in Columns)
                        {
                            <td>
                                @column.ShowResult(item)
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </CascadingValue>
</div>

@code {

}