@using Microsoft.AspNetCore.Components.Forms

@namespace Common.Helpers.RazorComponent.CommonControls


<div for="formFileSm" class="bg-img-cover p-3 rounded" style="background-image: url('@Url'); height:300px;border:1px dashed">
    @if (string.IsNullOrEmpty(ImageUrl))
    {
        <label>
            <span>Sélectionner une photo</span>
            <InputFile id="formFileSm" style="display:none" OnChange="@OnChange" />
        </label>
    }
</div>


@code {
    [Parameter] public string ImageUrl { get; set; } = string.Empty;
    [Parameter] public EventCallback<InputFileChangeEventArgs> OnChange { get; set; }

    public string Url { get => ImageUrl.Replace(@"\", "/"); }
}