@using Microsoft.AspNetCore.Components.Forms

@namespace Common.Helpers.RazorComponent.CommonControls

<div class="form-floating mb-3">
    <InputNumber id="@UniqueId" @bind-Value=Value class="form-control" />
    <label for="@UniqueId">@Label</label>
</div>



@code {

    [Parameter] public string? Label { get; set; }

    [Parameter]
    public double? Value
    {
        get => _value;
        set
        {
            if (_value == value) return;
            _value = value;
            ValueChanged.InvokeAsync(value);
        }
    }
    private double? _value;

    [Parameter]
    public EventCallback<double?> ValueChanged { get; set; }


    private string UniqueId { get => Guid.NewGuid().ToString(); }
}