@using Microsoft.AspNetCore.Components.Web
@namespace Common.Helpers.RazorComponent.CommonControls

<!-- Modal -->
<div class="modal fade slide" id="@IdModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Title</h5>
                <button type="button" class="btn-close" aria-label="Close" @onclick="CloseModal"></button>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
            <div class="modal-footer justify-content-between">
                @ButtonsContent
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter] public string IdModal { get; set; }
    [Parameter] public string Title { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public RenderFragment ButtonsContent { get; set; }

    [Parameter] public Action CloseModalEvent { get; set; }

    public void CloseModal()
    {
        CloseModalEvent?.Invoke();
    }
}
