@page "/"


<div class="card mb-4">
    <div class="card-header">Extended DataTables</div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <a href="Product/Create" class="btn btn-outline-green mb-3">                    
                    Nouveau produit
                </a>
                <table class="table dataTable-table">
                    <thead>
                        <tr>
                            <th>Ref.</th>
                            <th>Name</th>
                            <th>Images</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ProductsVM)
                        {
                            <tr>
                                <td><a href="Product/@item.Id">#@item.Reference</a></td>
                                <td>@item.Name</td>
                                <td>@item.CountImg</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
