@page "/"

<div class="row row-cols-1 row-cols-md-3 row-cols-xxl-5 g-4 m-2">
    @foreach (var item in ProductsVM)
    {
        <div class="col">
            <div class="card">
                @if (string.IsNullOrEmpty(item.UrlImageThumb))
                {
                    <div class="card-img-top bg-img-cover"
                         style="background-image: url('assets/img/gallery.png'); height:200px;">
                    </div>
                }
                else
                {
                    <div class="card-img-top bg-img-cover"
                         style="background-image: url('@item.UrlImageThumb'); height:200px;">
                    </div>
                }
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <a href="Product/@item.Id">Voir</a> -
                        Last updated 3 mins ago
                    </small>
                </div>
            </div>
        </div>
    }
</div>