@page "/"


<div class="card mb-4">
    <div class="card-header">Extended DataTables</div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <a href="Product">NewProduct</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Ref.</th>
                            <th>Name</th>
                            <th>Images</th>
                        </tr>
                    </thead>
                    @foreach (var item in Products)
                    {
                        <tr>
                            <td><a href="Product/@item.Id">@item.Reference</a></td>
                            <td>@item.Name</td>
                            <td>@item.ProductImageInstruction.Count()</td>
                            <td>
                                <a class="btn btn-green btn-icon" href="Product/edit/@item.Id">
                                    <i data-feather="edit-2"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
