@page "/"

@using Common.Helpers.RazorComponent.CommonControls
@using Common.Helpers
@inject NavigationManager NavigationManager
<div class="container">
    <div class="row">
        
        @*<div class="col-12">


            <table class="table">
                <thead>
                    <tr>
                        <th>


                            ID
                        </th>
                        <th>
                            Name
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Products)
                {
                    <tr>
                        <td>
                            <a href="Product/@item.Id">@item.Id</a>
                            
                        </td>
                        <td>
                            @item.Name
                        </td>
                    </tr>
                }
            </table>
        </div>*@
    </div>
</div>