@page "/Product/Edit/{id:int?}"
@page "/Product/Create"

@using Common.Helpers.RazorComponent
@using Common.Helpers.RazorComponent.CommonControls
@using Common.Helpers.RazorComponent.ProductControls

@inherits PageComponentBase


<EditForm Model="ProductDetail" OnSubmit="SaveProductEventHandler">
    <DataAnnotationsValidator />

    <div class="row">
        <div class="card">

            <div class="row no-gutters">
                <div class="card-header">
                    <h5 class="card-title">#@ProductDetail.Reference - @ProductDetail.Name</h5>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="row ms-2">
                            <ValidationSummary />
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="form-floating mb-3">
                                    <InputTextArea id="Reference" @bind-Value="ProductDetail.Reference" class="form-control" />
                                    <label for="Reference">Référence</label>
                                </div>
                            </div>
                            <div class="col-12 col-sm-8">
                                <div class="form-floating mb-3">
                                    <InputText id="Name" @bind-Value=ProductDetail.Name class="form-control" />
                                    <label for="Name">Nom</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12">


                                <div class="form-floating mb-3">
                                    <InputTextArea id="Description" @bind-Value="ProductDetail.Description" class="form-control" style="height: 150px" />
                                    <label for="Description">Description</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <InputTextArea id="Description" @bind-Value="ProductDetail.DesignInstruction" class="form-control" style="height: 150px" />
                                    <label for="Description">Instruction de construction</label>
                                </div>

                                <div class="form-floating mb-3" style="padding:0 12px">
                                    <SizingEditor @bind-Height="ProductDetail.Height" @bind-DiameterTop="ProductDetail.TopDiameter" @bind-DiameterBot="ProductDetail.BottomDiameter" />
                                </div>

                                <div class="form-floating mb-3">
                                    <InputSelect id="floatingSelect" @bind-Value="ProductDetail.Status" class="form-select">
                                        <option value="1">Test</option>
                                        <option value="2">Abandoned</option>
                                        <option value="3">Production</option>
                                        <option value="4">Discontinued</option>
                                    </InputSelect>
                                    <label for="floatingSelect">Statut</label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="row">
                        <Carousel>
                            @for (var i = 0; i < ProductDetail.ImageInstructions.Count; i++)
                            {
                                <ImageCarousel Image="ProductDetail.ImageInstructions.ElementAt(i)" IsFirstElement="@(i==0)" ShowIcons="true" OnDeleteImageCallback="DeleteImageCmd" />
                            }
                            @if (!ProductDetail.ImageInstructions.Any())
                            {
                                <div class="bg-img-cover d-flex justify-content-center p-3" style="background-image: url('assets/img/gallery.png'); height:500px;opacity:0.05"></div>
                            }
                        </Carousel>
                    </div>
                    <div class="row p-0 m-2">
                        <button type="button" class="btn btn-outline-green" @onclick='() => OpenModal("AddImageModal")'>
                            Nouvelle image
                        </button>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-warning" @onclick="UndoCmd">
                        Retour
                    </button>
                    <button class="btn btn-outline-green" type="submit">
                        <i data-feather="edit-2" class="me-2"></i>
                        Enregistrer
                    </button>
                </div>
            </div>
        </div>
    </div>
</EditForm>



<EditForm Model="ImageInstruction" OnSubmit="AddImageEventHandler">
    <Modal id="AddImageModal" Title="Ajouter uen image">
        <ChildContent>
            <div class="mb-3">
                <ImageUpload OnChange="@UploadFile" ImageUrl=@ImageInstruction.Url />
            </div>
            <div class="form-floating mb-3">
                <InputTextArea id="CommentaireImg" class="form-control" style="height: 150px" @bind-Value=ImageInstruction.Comment />
                <label for="CommentaireImg">Commentaire</label>
            </div>
        </ChildContent>
        <ButtonsContent>
            <button type="submit" class="btn btn-outline-green" data-bs-dismiss="modal">Ajouter</button>
            <button type="button" class="btn btn-warning mr-auto" data-bs-dismiss="modal" @onclick="(() => ImageInstruction = new())">Annuler</button>
        </ButtonsContent>
    </Modal>
</EditForm>
