@page "/"
@using Common.Helpers.RazorComponent.CommonControls
@using Common.Helpers


<div class="container">
    <div class="row">
        <div class="col-12">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-7">
                    <Textbox Label="Name" Value="@ProductDetail.Name" Readonly=IsReadonly />
                    <Textarea Label="Description" Value="@ProductDetail.Description" Readonly=IsReadonly />
                    <Textarea Label="Instruction de construction" Value="@ProductDetail.DesignInstruction" Placeholder="test" Readonly=IsReadonly />

                    @*<input id="file-loader" type="file" @ref=inputElement @onchange="UploadSimulationFile" style="display:none;" />*@

                    <InputFile OnChange="@LoadFiles" />


                    <button @onclick=ReadonlyCmd>readonly</button>
                </div>
                <div class="col-12 col-sm-5">
                    @if (ProductImages.Any())
                    {
                        <CardCarousel CarouselItem=ProductImages />
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="container mt-5">
    <div class="row">
    <div class="col-3 col-sm-3 pb-4">
    <CardPhoto PhotoURL="assets/IMG_1892.jpg" />
    </div>
    <div class="col-3 col-sm-3 pb-4">
    <CardPhoto PhotoURL="assets/IMG_1892.jpg" />
    </div>
    <div class="col-3 col-sm-3 pb-4">
    <CardPhoto PhotoURL="assets/IMG_1892.jpg" />
    </div>
    <div class="col-3 col-sm-3 pb-4">
    <CardPhoto PhotoURL="assets/IMG_1892.jpg" />
    </div>
    <div class="col-3 col-sm-3 pb-4">
    <CardPhoto PhotoURL="assets/IMG_1892.jpg" />
    </div>
    <div class="col-3 col-sm-3 pb-4">
    <CardPhoto PhotoURL="assets/IMG_1892.jpg" />
    </div>
    <div class="col-3 col-sm-3 pb-4">
    <CardPhoto PhotoURL="assets/IMG_1892.jpg" />
    </div>
    </div>
    </div>*@