<div class="card">
    <img src="@PhotoURL" class="card-img-top" alt="...">
    <div class="card-body p-3 rounded-bottom">
        <p class="card-text fw-bold mt-1 mb-1">Commentaire:</p>
        <p class="card-text fw-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>

@code {
    [Parameter] public string? PhotoURL { get; set; }
}