@using Microsoft.AspNetCore.Components.Forms

@namespace Common.Helpers.RazorComponent.ProductControls

<div class="row">
    <div class="col-2 col-sm-2">
        <img src="/assets/sizing.png" style="height:65px" />
    </div>
    <div class="col">
        <div class="form-floating">
            <InputNumber id="d1" @bind-Value=DiameterTop class="form-control" />
            <label for="d1">Ø Top</label>
        </div>
    </div>
    <div class="col">
        <div class="form-floating mb-2">
            <InputNumber id="d2" @bind-Value=DiameterBot class="form-control" />
            <label for="d2">Ø Bottom</label>
        </div>
    </div>
    <div class="col p-0">
        <div class="form-floating mb-2">
            <InputNumber id="h" @bind-Value=Height class="form-control" />
            <label for="h">Height</label>
        </div>
    </div>
</div>



@code {
    private double? _diameterTop;
    private double? _diameterBot;
    private double? _height;

    [Parameter]
    public double? DiameterTop
    {
        get => _diameterTop;
        set
        {
            if (_diameterTop == value) return;
            _diameterTop = value;
            DiameterTopChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public double? DiameterBot
    {
        get => _diameterBot;
        set
        {
            if (_diameterBot == value) return;
            _diameterBot = value;
            DiameterBotChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public double? Height
    {
        get => _height;
        set
        {
            if (_height == value) return;
            _height = value;
            HeightChanged.InvokeAsync(value);
        }
    }

    [Parameter] public bool? Read { get; set; } = false;

    [Parameter]
    public EventCallback<double?> DiameterBotChanged { get; set; }
    [Parameter]
    public EventCallback<double?> DiameterTopChanged { get; set; }
    [Parameter]
    public EventCallback<double?> HeightChanged { get; set; }
}