@using Microsoft.AspNetCore.Components.Forms
@using Domain.Models

@namespace Common.Helpers.RazorComponent.ProductControls

@if (Status.HasValue)
{
    @switch (Status)
    {
        case ProductStatus.Abandoned:
            <span class="badge bg-danger">@Status.ToString()</span>
            break;
        case ProductStatus.Discontinued:
            <span class="badge bg-warning">@Status.ToString()</span>
            break;
        case ProductStatus.Production:
            <span class="badge bg-success">@Status.ToString()</span>
            break;
        case ProductStatus.Test:
            <span class="badge bg-info">@Status.ToString()</span>
            break;
    }
}

@code {
    [Parameter] public ProductStatus? Status { get; set; }

}