$body-bg: #1B1B1B;
$input-bg: #2e2e2e;
$input-disabled-bg: #2e2e2e;
$body-color: white;
$primary: green;
$input-border-color: #1B1B1B;
$input-border-width: 0;
@import "../../../../../scss/bootstrap/scss/bootstrap";
@import "../../../../../scss/bootstrap/scss/bootstrap-utilities";

/*@import "../../../../../scss/bootstrap-icons/font/bootstrap-icons.scss";*/
.navbar-collapse {
    justify-content: flex-end;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}


.card-body {
    background-color: #2e2e2e;
}

.card {
    border: hidden;
}

/*#region Carousel */
.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 170px;
    bottom: unset;
}

.carousel-indicators {
    top: 0;
    margin-top: 1rem;
}

/*#endregion */


/*.card-body p {
    color: #c2c2c2;
}*/

